

	<nav class="navbar navbar-dark fixed-top cb-gray">
		<a routerlink="/widget-list"><i class="fas fa-chevron-left cb-color-white"></i></a>
		<div class="cb-80-width">
			<a class="cb-no-underline float-left" routerlink="/widget-heading"><b class="cb-color-white">Choose Widget</b></a>
		</div>
		<a routerlink="/widget-chooser" class="cb-color-white float-right"><i class="fas fa-plus"></i></a>
	</nav>
		<!--widget list-->
	<div class="container">
		<ul class="list-group">
			<li class="list-group-item">
				<a routerlink="/widget-heading"><b>Header</b></a>
			</li>
			<li class="list-group-item">
				<a routerlink="#"><b>Label</b></a>
			</li>
			<li class="list-group-item">
				<a routerlink="#"><b>HTML</b></a>
			</li>
			<li class="list-group-item">
				<a routerlink="#"><b>Text Input</b></a>
			</li>
			<li class="list-group-item">
				<a routerlink="#"><b>Link</b></a>
			</li>
			<li class="list-group-item">
				<a routerlink="#"><b>Button</b></a>
			</li>
			<li class="list-group-item">
				<a routerlink="/widget-image"><b>Image</b></a>
			</li>
			<li class="list-group-item">
				<a routerlink="/widget-youtube"><b>Youtube</b></a>
			</li>
			<li class="list-group-item">
				<a routerlink="#"><b>Data Table</b></a>
			</li>
			<li class="list-group-item">
				<a routerlink="#"><b>Repeater</b></a>
			</li>
		</ul>
	</div>	
	<nav class="navbar navbar-dark cb-gray fixed-bottom">
		<div class="cb-width">
			<a routerlink="/widget-list" class="float-right cb-color-white"><i class="fas fa-user"></i></a>
		</div>
	</nav>